nav {
    background-color: rgba(30, 30, 30, 0.8); /* Dark background with transparency */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center; /* Center items vertically */
    position: fixed; /* Make the navbar sticky */
    width: 100%; /* Ensure it spans the full width */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px; /* Adjust the size of your logo */
  }
  
  .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  
  nav a {
    color: #fff;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #bbb;
  }
  
  body {
    padding-top: 50px; /* Adjust padding to prevent content from being hidden behind navbar */
  }
  